<%= link_to(note) do %>
  <div class="row note-table-row">
		<div class="small-4 columns"><%= note.id %></div>
		<div class="small-4 columns"><%= note.name %></div>
		<div class="small-4 columns"><%= note.description %></div>
	</div>
<% end %>