<% present @user do |user_presenter| %>
	<div class="row">
		<dl>
			<dt>Username:</dt>
			<dt><%= @user.username %></dt>
			<dt>Email:</dt>
			<dt><%= @user.email %></dt>
			<dt><%= user_presenter.admin_text %>
		</dl>
	</div>
<% end %>