/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayMediumDark: #808080;

$screen: "only screen" !default;
$small-range: (0em, 40em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* static pages */

/* header */

.toggle-topbar {
  color: white;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayMediumDark;
  a {
    color: $grayMediumDark;
    &:hover { 
      color: black;
    }
  }  
  small { 
    float: left;
    margin-left: 10px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      &:last-child {
        margin-right: 10px;
      }
    }
  }
}

@media #{$small-only} { 
  footer ul li {
    font-size: 5px;
  }
}

/* user pages */

.user-field {
  margin: 0px 20px 0px 20px;
}

.user-cancel-account {
  margin: 0px 20px 0px 20px;
}

/* note pages */

.note-header {
  width: 94%;
}

.note-table {
  width: 94%;

  .note-table-row {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a > div.note-table-row:hover  {
    background-color: $grayMediumLight;
  }

  > div > div.note-table-row {
    border-bottom: 1px solid black;
  }

  a { 
    color: black;
    > div {
      border-bottom: 1px solid $grayMediumLight;
    }
  }

  a:last-child > div {
    border-bottom: 1px solid black;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

div.test, div.test * {
  border: 1px solid black;
}