<footer class="footer">
  <small>
    <%= link_to 'Skeleton App', 'https://github.com/jackerman09/skeleton' %>
    by Jason Ackerman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    static_pages_about_path %></li>
      <li><%= link_to "Contact",  static_pages_contact_path %></li>
    </ul>
  </nav>
</footer>