<footer class="footer">
  <small>
    <%= link_to 'Skeleton App', 'https://github.com/jackerman09/skeleton' %>
    by Jason Ackerman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>